 <%= simple_form_for workout do |f| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <%end%>
  <div class="mb-3">
   <%= f.input :title , class:"form-control"%>
  <br>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to "Back to workouts", workouts_path, class:"btn btn-secondary"%>

</div>


<% end %>
