<div class= "flex-workouts" id="<%= dom_id workout %>">

  <h1 class="title-workouts">

    <%= workout.title %>
  </h1>
    <table class="table-workout">

    <%i = 0%>
    <tr class="first-row">
    <td>Exercise</td>
    <td>Reps</td>
    <td>Series</td>
    </tr>
    <% for exercise in workout.exercises do %>
      <% if workout.exercises.length > 0 %>
    <tr >
      <td> <%= workout.exercises[i].name%></td>
      <td> <%= workout.exercises[i].reps%></td>
      <td> <%= workout.exercises[i].series%></td>


      <% end %>
    <% i += 1%>
    <% end %>

    </table>
  <%# <tr>


  </tr>
  <tr></tr>
  <div class="exercises">


  </div> %>

  </table>


</div>
